@font-face {
    font-family: "geomanist-black-italic";
    src: url("../font/geomanist/geomanist-black-italic.ttf");
}

@font-face {
    font-family: "geomanist-black";
    src: url("../font/geomanist/geomanist-black.ttf");
}

@font-face {
    font-family: "geomanist-bold-italic";
    src: url("../font/geomanist/geomanist-bold-italic.ttf");
}

@font-face {
    font-family: "geomanist-bold";
    src: url("../font/geomanist/geomanist-bold.ttf");
}

@font-face {
    font-family: "geomanist-book-italic";
    src: url("../font/geomanist/geomanist-book-italic.ttf");
}

@font-face {
    font-family: "geomanist-book";
    src: url("../font/geomanist/geomanist-book.ttf");
}

@font-face {
    font-family: "geomanist-extralight-italic";
    src: url("../font/geomanist/geomanist-extralight-italic.ttf");
}

@font-face {
    font-family: "geomanist-extralight";
    src: url("../font/geomanist/geomanist-extralight.ttf");
}

@font-face {
    font-family: "geomanist-light-italic";
    src: url("../font/geomanist/geomanist-light-italic.ttf");
}

@font-face {
    font-family: "geomanist-light";
    src: url("../font/geomanist/geomanist-light.ttf");
}

@font-face {
    font-family: "geomanist-medium-italic";
    src: url("../font/geomanist/geomanist-medium-italic.ttf");
}

@font-face {
    font-family: "geomanist-medium";
    src: url("../font/geomanist/geomanist-medium.ttf");
}

@font-face {
    font-family: "geomanist-regular-italic";
    src: url("../font/geomanist/geomanist-regular-italic.ttf");
}

@font-face {
    font-family: "geomanist-regular";
    src: url("../font/geomanist/geomanist-regular.ttf");
}

@font-face {
    font-family: "geomanist-thin-italic";
    src: url("../font/geomanist/geomanist-thin-italic.ttf");
}

@font-face {
    font-family: "geomanist-thin";
    src: url("../font/geomanist/geomanist-thin.ttf");
}

@font-face {
    font-family: "geomanist-ultra-italic";
    src: url("../font/geomanist/geomanist-ultra-italic.ttf");
}

@font-face {
    font-family: "geomanist-ultra";
    src: url("../font/geomanist/geomanist-ultra.ttf");
}